
.amazing{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    .amazing__center{
        width: 1340px;
        height: 300px;
        box-sizing: border-box;
        box-shadow: 0px 0px 2px #2b2b2b;
        border-radius: 15px;
        background-color: #ef3c51;
        padding: 20px 2px;
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .a_allslidesswiper_exeptlast{
                width: inherit;
                height: inherit;
                display: block;
                text-decoration: none;
                color: #2b2b2b;
            }
            .swiper-slide-item{
                display: flex;
                flex-flow: column wrap;
                row-gap: 8px;
                align-items: center;
                justify-content: center;
            }
            .swiper-slide-product{
                display: flex;
                flex-flow: column wrap;
                row-gap: 10px;
                align-items: center;
                padding: 10px;
                position: relative;
                img{
                    width: 150px;
                    height: 150px;
                }
                p{
                    font-family: iranyekanmedium;
                    font-size: 11px;
                    text-overflow: ellipsis;
                    white-space: wrap;
                    overflow: hidden;
                    height: 30px;
                    opacity: 0.7;
                }
                div{
                    width: 144px;
                    height: 24px;
                    display: flex;
                    flex-flow: row-reverse wrap;
                    justify-content: space-around !important;
                    
                    .price{
                        width: 70%;
                        height: inherit;
                        font-family: yekan;
                        font-size: 13px;
                        position: relative;
                        svg{
                            position: absolute;
                            top: 2px;
                        }
                    }
                    h6{
                        width: 30%;
                        height: 17px;
                        font-family: yekan;
                        font-size: 12px;
                        background-color: #d32f2e;
                        font-weight: normal;
                        padding: 0 10px;
                        border-radius: 15px;
                        color: whitesmoke;
                        line-height: 18px;
                        font-weight: 600;
                    }
                }
                .pureprice{
                    font-family: yekan;
                    font-size: 11px;
                    opacity: 0.4;
                    text-decoration: line-through;
                    position: absolute;
                    left: 20px;
                    bottom: -5px;
                }
            }
            .a_slid13{
                width: inherit;
                height: inherit;
                display: block;
                text-decoration: none;
                .svg_slide13{
                    width: inherit;
                    height: 50%;
                    position: relative;
                    .child_svg_slide13{
                        border: 1px solid #39b7c6 ;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    left: calc(50% - 52px / 2);
                    bottom: calc(50% - 50px );
                    svg{
                        position: absolute;
                        left: calc(50% - 28px / 2);
                        top: calc(50% - 22px / 2);
                    }
                    }
                }
                .p_slide13{
                    width: inherit;
                    height: 50%;
                    font-family: iranyekanmedium;
                    font-size: 14px;
                    color: #2b2b2b;
                    opacity: 0.8;
                }
            }
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        
    }

}
.active{
    background-color: #ef3c51 !important;
    .image_item1{
        width: 92px !important;
        height: 77px !important;
    }
    .image_item2{
        width: 145px !important;
        height: 115px !important;
    }
    .item_link{
        font-family: var(--font-family);
        text-decoration: none;
        color: whitesmoke;
        font-size: 13px;
    }
}
.BRtrbr{
    border-radius: 0 15px 15px 0;
}
.BRtlbl{
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-flow:  column wrap;
}