.slider{
    width: 100%;
    height: 470px;
    margin-top: 173px;
   .subslider{
    width: 1642px;
    height: 467px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    .topswiper-slider{
        width: inherit;
        height: 68px;
        background-color: #f04056;
    } 
    .swiper {
        width: 100%;
        height: calc(100% - 68px);
        .swiper-button-next{
            position: absolute;
            right: 90px;
            top: 350px;
            background-color: rgb(199, 195, 195,0.5);
          }
          .swiper-button-prev{
            position: absolute;
            right: 40px;
            top: 350px;
            background-color: rgb(199, 195, 195,0.5);
          }
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0 10px 10px;
      }
   }
}
.swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    opacity: 0.5;
}
.swiper-pagination-bullet-active {
    background-color: whitesmoke !important;
    opacity: 1 !important;
    width: 15px !important;
    transition: 300ms !important;

}